h1 {
  font-family: "legitima", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 45px;
}

h2,
h3,
h4 {
  font-family: "legitima", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 30px;
}

* {
  font-family: "area-normal-light", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  background-color: rgb(252, 253, 200);
  text-align: center;
}

/* HEADER */

.nav-bar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  padding-right: 10px;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 0;
}

.links li {
  margin-left: 3rem;
}

a {
  color: black;
}

.logo-picture {
  display: flex;
}

.logo {
  height: 7rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
}

/* MAIN */

@media screen and (min-width: 410px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 520px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1150px) {
  .our-story-container,
  .studio-information-container {
    flex-direction: column;
  }
  .our-story-picture img,
  .studio-interior img {
    width: 100%;
  }
}

.wheel-picture {
  width: 100vw;
  overflow: hidden;
  overflow-x: hidden;
}

.wheel-picture img {
  max-width: 100%;
  height: auto;
  display: block;
}

.welcome,
.contact {
  display: flex;
  justify-content: center;
}

.welcome-text,
.product-text-index,
.contact-text,
.our-story-text {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.product-index {
  display: flex;
  justify-content: center;
}

.latest-collection {
  display: flex;
  column-gap: 10px;
  justify-content: space-evenly;
  padding-left: 5%;
  padding-right: 5%;
}

.latest-images {
  width: 100%;
  border-radius: 20%;
}

.our-story {
  display: flex;
  justify-content: center;
}

.our-story-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.our-story-picture img,
.studio-interior img {
  max-width: 600px;
  height: auto;
}

.studio-information-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text ul {
  list-style: none;
  padding-left: 0%;
}

.contact-text li {
  font-weight: bold;
}

/* PRODUCTS PAGE */

@media screen and (min-width: 410px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 520px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 410px) {
  .collection-header {
    font-size: x-large;
  }

  .collection-paragraph {
    font-size: x-small;
  }
}

@media screen and (max-width: 520px) {
  .collection-header {
    font-size: xx-large;
  }

  .collection-paragraph {
    font-size: small;
  }
}

.product-images {
  width: 100%;
  border-radius: 20%;
}

/* INDIVIDUAL PRODUCT PAGES */

.product-name {
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
}

.mug-image {
  display: flex;
  object-fit: cover;
  width: 40%;
  height: 40%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20%;
}

.mug-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5%;
  padding-top: 2%;
  align-items: center;
}

.mug-description {
  padding-right: 5%;
  align-self: center;
  text-align: center;
}

.mug-description ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.back-to-page {
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
}

.add-to-cart-button {
  padding-top: 5%;
  display: block;
  padding-left: 8%;
}

/* CART PAGE */

#cart {
  list-style: none;
  padding: 0;
  text-align: left;
}

#cart li {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* FOOTER */

footer {
  margin-top: 3px;
  border-top: 2px solid black;
}

.footer-text {
  display: flex;
  justify-content: center;
}
