h1 {
  font-family: "legitima", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 45px;
}

h2,
h3,
h4 {
  font-family: "legitima", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 30px;
}

* {
  font-family: "area-normal-light", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  background-color: rgb(252, 253, 200);
  text-align: center;
}

/* HEADER */

.nav-bar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  padding-right: 10px;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 0;
}

li {
  margin-left: 3rem;
}

a {
  color: black;
}

.logo-picture {
  /* width: 5%; */
  display: flex;

  /* margin-bottom: 1rem; */
}

.logo {
  height: 7rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
}

/* MAIN */

#cart {
  list-style: none;
  padding: 0;
  text-align: left;
}

#cart li {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (min-width: 410px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 520px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 410px) {
  .agnes-mug,
  .astrid-mug,
  .celeste-mug,
  .celia-mug,
  .ella-mug,
  .flo-mug,
  .lia-mug,
  .lolly-mug,
  .melba-mug {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20%;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 750px) {
  .agnes,
  .astrid,
  .celeste,
  .celia,
  .ella,
  .flo,
  .lia,
  .lolly,
  .melba {
    flex-direction: column;
  }

  .agnes-description,
  .astrid-description,
  .celeste-description,
  .celia-description,
  .ella-description,
  .flo-description,
  .lia-description,
  .lolly-description,
  .melba-description {
    padding: 0;
    padding-top: 2rem;
  }

  .back-to-page {
    font-size: large;
  }

  .product-name {
    font-size: x-large;
  }
}

@media screen and (max-width: 1150px) {
  .our-story-container,
  .studio-information-container {
    flex-direction: column;
  }
}

.wheel-picture {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wheel-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome,
.contact {
  display: flex;
  justify-content: center;
}

.welcome-text,
.product-text-index,
.contact-text {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.product-index {
  display: flex;
  justify-content: center;
}

.latest-collection {
  display: flex;
  column-gap: 10px;
  justify-content: space-evenly;
  padding-left: 5%;
  padding-right: 5%;
}

.latest-images {
  width: 100%;
}

.our-story {
  display: flex;
  justify-content: center;
}

.our-story-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.our-story-picture img,
.contact-picture img,
.studio-interior img {
  width: 600px;
  height: auto;
}

.our-story-container .our-story-text {
  flex: 1;
  padding-right: 5%;
}

.our-story-text p {
  text-align: center;
  padding-left: 10%;
}

.studio-information-container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text ul {
  list-style: none;
  padding-left: 0%;
  padding-right: 10%;
}

.contact-text li {
  font-weight: bold;
}

/* PRODUCTS PAGE */

.product-images {
  width: 100%;
  border-radius: 20%;
}

/* INDIVIDUAL PRODUCT PAGES */

.product-name {
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
}

.agnes-mug,
.astrid-mug,
.celeste-mug,
.celia-mug,
.ella-mug,
.flo-mug,
.lia-mug,
.lolly-mug,
.melba-mug {
  display: flex;
  object-fit: cover;
  width: 40%;
  height: 40%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20%;
}

.agnes,
.astrid,
.celeste,
.celia,
.ella,
.flo,
.lia,
.lolly,
.melba {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5%;
  padding-top: 2%;
  align-items: center;
}

.agnes-description,
.astrid-description,
.celeste-description,
.celia-description,
.ella-description,
.flo-description,
.lia-description,
.lolly-description,
.melba-description {
  padding-right: 5%;
  align-self: center;
  text-align: center;
}

.agnes-description ul,
.astrid-description ul,
.celeste-description ul,
.celia-description ul,
.ella-description ul,
.flo-description ul,
.lia-description ul,
.lolly-description ul,
.melba-description ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.back-to-page {
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
}

.add-to-cart-button {
  padding-top: 5%;
  display: block;
  padding-left: 8%;
}

/* FOOTER */

footer {
  margin-top: 3px;
  border-top: 2px solid black;
}

.footer-text {
  display: flex;
  justify-content: center;
}
