h1 {
  font-family: "legitima", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 45px;
}

h2,
h3,
h4 {
  font-family: "legitima", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 30px;
}

* {
  font-family: "area-normal-light", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* HEADER */
.nav-bar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  padding-right: 10px;
}

.nav-bar {
  display: flex;
  align-items: center;
}

li {
  margin-left: 3rem;
}

a {
  color: black;
}

.logo-picture {
  /* width: 5%; */
  display: flex;

  /* margin-bottom: 1rem; */
}

.logo {
  height: 10rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
  padding: 0px;
}

/* MAIN */

.ceramic-wheel {
  width: 50%;
}

.latest-collection {
  display: flex;
  column-gap: 10px;
  justify-content: space-evenly;
}

.latest-images {
  width: 100%;
}

.old-photo {
  width: 50%;
}

.studio-interior {
  width: 30%;
  border-radius: 50%;
}

.address ul {
  list-style: none;
}

/* PRODUCTS PAGE */

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.product-images {
  width: 100%;
}

/* INDIVIDUAL PRODUCT PAGES */

.agnes-mug,
.astrid-mug,
.celeste-mug,
.celia-mug,
.ella-mug,
.flo-mug,
.lia-mug,
.lolly-mug,
.melba-mug {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.agnes,
.astrid,
.celeste,
.celia,
.ella,
.flo,
.lia,
.lolly,
.melba {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5%;
  padding-top: 5%;
}

.agnes-description,
.astrid-description,
.celeste-description,
.celia-description,
.ella-description,
.flo-description,
.lia-description,
.lolly-description,
.melba-description {
  padding-right: 5%;
  align-self: center;
}

.agnes-description ul,
.astrid-description ul,
.celeste-description ul,
.celia-description ul,
.ella-description ul,
.flo-description ul,
.lia-description ul,
.lolly-description ul,
.melba-description ul {
  list-style: none;
}

/* FOOTER */

footer {
  margin-top: 3px;
  border-top: 2px solid black;
}
